{
    "parser": "babel-eslint",
    "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
    },
"settings": {
    "import/resolver": {
        "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
    }
},
"extends": ["airbnb", "prettier"],
"env": {
    "browser": true,
    "jest": true
},
"rules": {
    "max-len": ["error", {"code": 100}],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
        2, 
        { "caseSensitive": false }
     ],
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-props-no-spreading": [0],
    "react/jsx-wrap-multilines": [0]
  }
}